.footer {
    width: 100%;
    background-color: #CACACA;
    text-align: left;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 0.7vw;
    padding-bottom: 2vw;
}

.footer--info {
    padding: 0 10vw;
}
.footer h1 {
    font-size: 1.2vw;
    margin-top: 3vw;

}

.footer h2 {
    font-size: 1vw;
    padding-top: 1vw;
}