#root {
    font-family: 'Manrope', sans-serif;
}
.navbar {
    position: fixed;
    display: flex;
    background-color: white;
    z-index: 2;
    margin-top: -0.6vw;
    height: 8vw;
    font-weight: 900;
    padding: 0;
    width: 100%;
}


.navbar ul {
    margin: auto;
    display: flex;
    list-style: none;
}

.navbar ul li {
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: auto;
    padding: 2.5vw;
}

.navbar ul li a {
    color: #000d2a;
}

.navbar img {
    height: 7vw;
}


.navbar ul li:hover {
    color: #FDC73E;
    transition: linear 0.3s;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .navbar {
        height: 12vw;
    }
    .navbar img {
        height: 10vw;
        position: relative;
        right: 5vw;
        bottom: 0.5vw;
    }

    .navbar ul {
        position: relative;
        right: 1vw;
    }
    .navbar ul li {
        font-size: 3vw;
    }
  }